.clock {
    color: white;
    font-weight: normal;
    &__numbers {
        font-weight: bold;
        background: none;
        &--hours {
            color: $hours-color;
        }
        &--minutes {
            color: $minutes-color;
        }
        &--seconds {
            color: $seconds-color;
        }
        &--miliseconds {
            color: $miliseconds-color;
        }
    }
}
