@import "./components/CurrentTimebox.scss";
@import "./components/ProgressBar.scss";

.Clock {
    color: #5c5c5c;
}

.TimeboxEditor,
.TimeboxCreator {
    padding: 1rem;
    border: 2px solid white;
    text-align: right;
    margin: 1rem;
}

.Timebox {
    border: 2px solid white;
    padding: 1rem;
    margin: 1rem;
}

.CurrentTimebox {
    background: tomato;
}

.Timebox {
    background: lightsteelblue;
}

.TimeboxCreator {
    background: lightseagreen;
}

.TimeboxEditor {
    background: lightsalmon;
}
